.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section{
  padding: 1em;
}
.catalogue{
  margin: 1em 0;
}



/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 0em;
  }
  .content {
    padding: 0em;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 0em;
  }
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
